.root {
    height: 100vh;
    background-image: url('https://wallpapers.com/images/hd/collage-of-movie-posters-g2fdqahxlakaa7yq.jpg'); // Use the provided image URL
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px); // Apply the blur effect
        z-index: 1;
    }
}
  
.formContainer {
    position: relative;
    z-index: 2;
    background-color: rgba(240, 240, 240, 0.8); // Make the background a little grey
    padding: 1rem;
    border-radius: 0.5rem;
}
  
.title {
    font-weight: bold;
    span {
        color: rgb(255, 0, 0); // Red
        font-weight: bold;
    }
}
  
.googleButton {
    margin-top: 1rem;
    margin-bottom: 0.5rem; // Add spacing between buttons
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.demoButton {
    background-color: black !important; // Red
    color: rgb(196, 72, 0) !important;
    width: fit-content; // Make the button fit the content
    margin: 0 auto; // Center the button
    &:hover {
        background-color: rgb(139, 0, 0) !important; // Maroon
    }
}
