.rootList {
    padding-top: 16px;
    background-color: black;
    padding: 15px;
    width: 100vw;
    height: calc(100vh - 64px);
    overflow-x: hidden;
    flex-direction: column;
  }
  
  .imageListContainer {
    // max-height: 80vh; /* Adjust as needed */
    // overflow-y: auto;
    padding: 10px 200px 200px 200px;
  }
  
  .imageList {
    width: 100%;
    height: auto;
  }
  
  .icon {
    color: rgba(255, 255, 255, 0.54);
  }
  
  .listItem {
    width: 100%;
    height: 100%;
    padding: 10px !important;
  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
        opacity: 0.8;
        cursor:pointer;
    }
    
    &:active {
        border: 2px solid #f50057; /* or any other highlight color */
    }
  }
  